// Colors
@import '../node_modules/bulma/bulma'

.app
  display: grid
  grid: "h h h" "d d d" 200px "i i i" "hn hn hn"

.header
  grid-area: h
  display: flex
  justify-content: flex-end

.score
  flex: 1
  font-size: 2em
  text-align: center
  grid-area: h

.display
  display: flex
  text-align: center
  align-items: center
  align-self: stretch
  grid-area: d
  font-size: 2em
  font-weight: bold
  border: 2px solid black
  padding: 5px
  justify-content: center
  align-content: center

.keypad
  @extend .colorized  
  @extend .gap
  display: grid
  grid-area: i
  grid-template-columns: repeat(3, minmax(100px, 1fr))
  grid-auto-rows: 100px

.keypad > button
  font-size: 2em

.hintButton
  grid-column: 1/-1

.hints
  grid-area: hn

.gap
  grid-gap: 3px

.colorized
 > div:nth-child(1n)
  background-color: #96ceb4;	

.colorized
 > div:nth-child(3n) 
  background-color: #88d8b0;

.colorized
 > div:nth-child(2n) 
  background-color: #ff6f69;

.colorized
 > div:nth-child(4n) 
  background-color: #ffcc5c;
