html { height: 100% }
body { height: 95% }

#content { height: 100%; width: 100% }

.shell {
  height: 100%;
  width: 100%;
  display: inline-flex;
}

.rowDisplay {
  flex-direction: row;
}

.columnDisplay {
  flex-direction: column;
}

.scoreDisplay {
  text-align: center
}

.settingsBar {
  flex-direction: row;
  display: inline-flex;
  justify-content: flex-end;
}

.resetButton {
  flex: 0 1 auto;
  font-size: 200%;
}

.optionsButton {
  font-size: 200%;
}

.keypad {
  display: inline-flex;
  flex-direction: column;
  flex: 1 1 100%;
}

.numDisplay {
  border: 2px solid black;
  padding: 5px;
  flex: 1 1 30%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.keyList {
  flex-direction: row;
  display: inline-flex;
  flex-wrap: wrap;
  flex: 1 1 60%;
}

.numkey {
  flex: 1 1 30%;
  font-size: 200%;
}

.hintDisplay {
  flex: 0 1 100%;
  border-left: 10px solid transparent;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column nowrap;
}

.hinttable {
  font-size: 1.5em;
}

.hide {
  display: none;
}

.hintcell {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
  width: 40px;
}

.needsreview {
  background-color: red;
  color: white;
}

.correct {
  background-color: green;
  color: white;
}

.reviewList {
    color: red;
    font-weight: bold;
    font-size: 130%;
}